.send_area_main{
  display: grid;
  margin-top: 10px;
  grid-template-columns: 50px 1fr 50px 50px;
}
.paperclip{
  margin-left: 10px;
  color: #747474;
  width: 30px;
  height: 30px;
  cursor: pointer;
}
.text_area input{
  margin-top: 1px;
  min-width: 96%;
  max-width: 96%;
  border: none;
  outline: none;
  background-color: #444446;
  color: #D4D4D4;
  font-size: 22px;
}

.smile{
  width: 30px;
  height: 30px;
  color: #747474;
  cursor: pointer;
}

.microphone{
  width: 30px;
  height: 30px;
  color: #747474;
  margin-left: 2px;
  cursor: pointer;
}
