.room_info_main{
  position: relative;
  width: 100%;

}

.room_text_info{
  position: absolute;
  left: 14px;
}

.room_name{
  color: #D4D4D4;
  font-weight: bold;
  font-size: 20px;
    margin-top: 4px;
    cursor: pointer;
}

.room_date_last_connect{
  color: #777777;
  margin-top: 4px;
}

.room_settings_buttons{
  position: absolute;
  right: 22px;
  top: 8px;
  width: 100px;
  display: inline-flex;
  font-size: 25px;
}

.room_settings_button{
  margin-left: 20px;
}

.search{
  color: #747474;
  width: 30px;
  height: 30px;
  margin-top: 2px;
  cursor: pointer;
}
.ellipsis{
  color: #747474;
  width: 30px;
  height: 30px;
  margin-top: 2px;
  cursor: pointer;
}
